@charset "UTF-8";

:root {
    font-size: 15px;
    line-height: 25px;
}

body {
    line-height: 1.6666667em;
}

a {
    color: #333333;
    text-decoration: none;
}

a:hover {
    color:#FFCC00;
}

a img {
    border: none;
}

h2 {
    font-size: 1.5333333rem;
    margin: 0 0 1rem;
}

h3 {
    font-size: 1.2666667rem;
    margin: 0 0 1rem;
    text-transform: uppercase;
}

p {
    font-size: 1rem;
    margin: 0 0 1rem;
}

img {
    width: 100%;
    max-width: 100%;
    border: none;
}

.container {
    padding: 1rem 2rem;
    max-width: 100%;
}

header {
    background-image: url(../images/coffee.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height:520px;
}

.header-nav ul {
    list-style: none;
    list-style-position: outside;
    margin: 1rem 0;
    padding: 0;
    font-size: 0.9rem;
}

.site-header-section li {
    display: inline;
    margin: 0 1rem 0 0;
}

.header-nav a {
    color: #FFFFFF;
}

section {
    margin: 2rem 0;
}

#blogs h2 {
    display: none;
}

.blog-items img {
    margin: 0 0 1rem;
    max-width: 100%;
    height:auto;
}

.blog-items h3 {
    color: #333333;
}

.blog-items p {
    font-size: 0.9rem;
    line-height: 1.35;
    color: #555555;
}

.divider {
    width: 100%;
    height:420px;
    background-image: url(../images/tabletop.jpg);
    background-size: cover;
    background-position: center center;
}

#mail-magazine p {
    font-size: 0.9rem;
    line-height: 1.35;
    color: #555555;
}

#mail-magazine form {
    margin: 2rem 0;
}
input[type=email] {
    border-radius: 0.3rem;
    border: 1px solid #999999;
    line-height: 1;
    padding: 0.5rem 1rem;
}

input[type=submit] {
    border-radius: 0.3rem;
    border: 1px solid #333333;
    background-color: #111111;
    color: #FFFFFF;
    padding: 0.5rem 1rem;
}

footer {
    background-color: #F6F6F6;
}

@media(min-width:768px) {
    .site-header{
        display: flex;
        justify-content: space-between;
        max-width: 90%;
        margin:0 auto;
    }

    .site-header-section {
        display: flex;
        align-items: center;
    }

    .site-header-section li {
        margin:0 0 0 1rem;
    }

    #news[class="container"] {
        max-width: 50%;
        margin: 2rem auto;
    }

    #news h2 {
        text-align: center;
    }

    .news-list {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 100px 1fr;
    }

    #blogs[class="container"] {
        max-width: 90%;
        margin:2rem auto;
    }

    .blog-grid {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 1rem;
    }

    #mail-magazine[class="container"] {
        max-width: 50%;
        margin: 2rem auto;
    }

    #mail-magagine h2 {
        text-align: center;
    }
    #mail-magagine p {
        font-size: 1.1rem;
    }

    #mail-magagine form {
        text-align: center;
    }
} 