@charset "UTF-8";

/* 全体 */

html {
    font-size: 100%;
}

body{
    font-family: "ヒラギノ丸ゴ Pro W4", "Hiragino Maru Gothic Pro", sans-serif;
    color: brown;
    background-color: #fffac2;
}

p {
    font-weight: bold;
}


/* ヘッダー */
.nav li {
    display: inline;
    list-style-type: none;
    padding-right: 30px;
}

/* ヘッダーページ移動 */

.move {
    font-size: 25px;
}

a:hover {
    background-color: green;
    color: red;
}

a:active {
    background-color: red;
    color: green;
}

/* 自己紹介ページ*/ 
.home {
    display: flex;
    justify-content: center;
}

#photo {
    width: 15%;
    padding-right: 300px;
}

#my-aicon {
    width: 5%;
}

.menu {
    font-weight: bold;
}

/* 作品紹介ページ */　
.sakuhin-block {
    display: flex;
}

/* お問い合わせページ */
form div {
    padding: 5px;
}

.name-d {
    font-weight: bold;
}

input[name="name"] { 
    width: 30em;
}

input[name="email"] { 
    width: 30em;
}

input[name="postal1"] {
    width: 3em;
}

input[name="postal2"] {
    width: 5em;
}

input[name="address"] {
    width: 30em;
}

input[name="birth"] {
    width: 10em;
}

textarea {
    width: 30em;
    height: 6em;
}

input[type="submit"] {
    margin: 20px 0;
    width: 30em;
}